/* 
CSS Stylesheet ©2018
*/

html {
    height: 100%;
}
body {
    text-align: justify;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    
    background: url("../img/soldiers2.png") center / cover no-repeat;
    background-position-y: 90px;

}
body::after {
    content: '';
    display: block;
    height: 160px;
}
hr {
    height: 3px;
    color: #212529;
}
iframe {
    overflow: hidden;
}
.nav-item>a {
    color: #212529;
}
.jumbohr {
    max-width: 840px;
}
.bg-military {
    background-color: #3e5480;
}
.bg-darker {
    background-color: #313131;
}
.bg-grey {
    background-color: #f2f0f0;
}
.navbar>.container {
    max-width: 1038px;
    padding-top: 0px; 
}
.navbar {
    padding: 0px 15px 0px;
}
.navbar-toggler {
    margin-right: 0.4em;
    margin-bottom: 0.1em;
}
.navbar-brand {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 15px;
}
.nav-item {
    margin-right: .5em;
    margin-bottom: 0em;
}
.nav-login {
    margin-right: 1em;
}
.dropdown-menu {
    margin-bottom: .5em;
}
.dropdown-item:hover {
    background-color: #f0f0f0;
}
.afpbrand {
    margin: 10px 15px -27px;
}
@media (max-width: 576px) {
    .afpbrand {
        margin-left: 0px;
    }
}
.history {
    height: 37px;
    padding-top: 0rem; 
}
.history-p {
    margin: 5px 0px 0px 219px;
}
.today {
    font-weight: 600;
}
.toplink>a {
    margin: 1em 1em 1em 1em; 
    color: #272a2c;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.1em;
}
.toplink>a:hover {
    text-decoration: none;
}
.display-3 {
    font-weight: 400;
}
.top-section {

}
.form>.container {
    max-width: 700px;
}
.main>.container{
    max-width: 1006px;
    margin-top: 2em;
}
.fa-user-circle {
    font-size: 1.5em;
    margin-left: 0px;
}
.fa-search {
    font-size: 18px;
}
.intro-vid {
    height: 276px;
    width: 100%;
}
.allstories>.jumbotron {
    margin: 0px 0px;
    border-radius: 0px;
}
@media (min-width: 576px) {
    .intro-vid {
        width: 510px;
        height: 290px;
    }
}
@media (min-width: 767px) {
    .intro-vid {
        width: 690px;
        height: 400px;
    }
}
@media (min-width: 992px) {
    .intro-vid {
        width: 976px;
        height: 546px;
    }
}
@media (min-width: 1200px) {
    .intro-vid {
        width: 976px;
        height: 546px;
    }
}
@media (min-width: 576px) {
    .main>.jumbotron {
        margin: 3em 0em 7em 0em;
        padding: 2em 2.5em;
    }
}


/*  Login Form  */
.modal-dialog {
    margin: 16em auto 10em;
    padding-right: 0px;
}
.modal-login {
    color: #414141;
    width: 350px;
    padding-right: 0px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login .form-group {
    position: relative;
}
.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
}
.modal-login .form-control {
    padding-left: 40px;
}
.modal-login .form-control:focus {
    border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .btn {
    background: #2c78c0;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, 
.modal-login .btn:focus {
    background: #24629c;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -20px -20px;
    border-radius: 0px 0px 5px 5px;
    font-size: 13px;
    justify-content: center;
}
.modal-login .modal-footer a {
    color: #999;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
/*  End  */

/*  Register Form  */
.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}
.signup-form{
    width: 420px;
    margin: 0 auto;
    padding: 40px 0;
}
.signup-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.signup-form h2:before, 
.signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}	
.signup-form h2:before{
    left: 0;
}
.signup-form h2:after{
    right: 0;
}
.signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}    	
.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}	
.signup-form form a:hover{
    text-decoration: underline;
}
@media (max-width: 576px) {
    .signup-form .row div:first-child{
        padding-right: 15px;
    }
    .signup-form .row div:last-child{
        padding-left: 15px;
        padding-top: 1.2em;
    }
    .signup-form{
        width: 350px;
    }
    .modal-dialog {
        margin: 5em auto 4em auto;
    }
}
/*  End  */

/*  Card Content  */
.search-btn>.btn {
    padding: 0.5em .75em;
}
.aboutpic {
    max-width: 100%; 
    height: auto;
    margin: 0px 0px 0px 0px;
}
.sonnypic {
    max-width: 100%; 
    height: auto;
}
.sonnypic2 {
    height: 14.3em;
    width: 10em;
    float: left;
    margin: 6px 8px 0px 4px;
}
.card-p {
    font-size: 1em;
    padding: 0px 4px;
}
.main>.card {
    border-radius: 0px;
    max-width: 970px;
}
.card-body {
    padding: 1em;
}
.card-title {
    margin: auto auto .6em auto;
}
@media (min-width: 576px) {
    /* .container {
        
    } */
    .aboutpic {
        height: 340px;
        width: 490px;
        float: right;
        margin: 7px -1px 0px 12px;
    }
    .sonnypic {
        height: 340px;
        width: 530px;
        float: right;
        margin: 20px 17px 0px 14px;
    }
    .sonnypic2 {
        height: 340px;
        width: 250px;
        margin: 8px 17px 0px 14px;
    }
    .main>.card {
        padding: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 1110px;
        margin: 30px auto 30px auto;
        border-radius: 4px;
    }
    .card-columns {
        column-gap: 15px;
    }
    .card-body {
        padding: 12px 18px;
    }
    .card-p {
        display: block;
        text-align: justify;
        font-size: 1em;
        padding: 0px;
        line-height: 24px;
    }
}
.patreon {
    height: 80px;
    width: 260px;
}
.gofundme {
    height: 90px;
    width: 270px;
}
.paypal {
    height: 70px;
    width: 240px;
}
div>.card-body {
    min-height: 260px;
}
.card-body.bg-light {
    padding: 0em .4em;
}
.card-body>.row>.col-sm-12.col-lg-6.col-xl-4 {
    padding-right: 15px;
    padding-left: 15px; 
}
@media (min-width: 576px) {
    .card-body.bg-light {
        padding: 0em 1.5em 20px;
    }
    .card-body>.row>.col-sm-12.col-lg-6.col-xl-4 {
        max-height: 465px;
        padding-right: 5px;
        padding-left: 5px; 
    }
    .card-section>.card-body {
        padding: 0em 15px;
    }
}
.jumbocard {
    max-width: 1110px;
    margin: 0em 0em 2em;
}
.jumbocard>.card .card {
    margin: 1em 0em;
}
.jumbocard>.card>.header {
    background-color: #f4f4f4;
}
.header {
    height: 65px;
}
.justify-content-between .card {
    margin: 1.1em 0em;
}
.card-header {
    padding: .6em .95em;
}
.card-header>.navbar {
    height: 45px;
    padding: 18px 0px 18px 6px; 
}
.card-header.input-group {
    height: 65px;
}
.container>.jumbocard>.card>.row {
    margin: 0px 0px 0px 0px;
}
.card-img-top {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    height: 190px;
}
.btn-outline-warning {
    color: ffc107;
    background-color: #ffffff00;
    border-color: #ffc107; 
}
.btn-outline-warning:hover, .btn-outline-warning:focus, 
.btn-outline-warning:active, .btn-outline-warning.active, 
.open>.dropdown-toggle.btn-outline-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-secondary {
    background-color: white;
}
.log {
    font-size: 1.1em;
}
.btn1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.btn2 {
    position: absolute;
    left: 142px;
    bottom: 20px;
}

.btn3 {
    position: absolute;
    margin: 0px -2px 0px 0px;
    padding: 6px 10px;
    font-size: 18px;
    right: 9px;
    bottom: 10px;
    color: #626262;
}
.btn3:hover {
    color: #383838;
}
/*  End  */

/*  Social Sharing Icons  */
.ssk-group {
    margin-top: 40px;
}
.ssk {
    margin: 0px 3px;
}
.ssk-youtube {
    background-color: #ff0000;
}
.ssk-youtube:hover {
    background-color: #ce0000;
}
.ssk-instagram {
    background-color: #fb3958;
}
.ssk-instagram:hover {
    background-color: #d12f4a;
}
/* End */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    margin-top: 70px;
}
footer>p {
    text-align: center;
    margin-top: 1em;
}

@media (min-width:576px) {
    .card-columns {
        column-count: 1;
    }
    .card-img-top {
        height: 350px;
    }
}

@media (min-width:935px) {
    .card-columns {
        column-count: 3;
    }
    .card-img-top {
        height: 190px;
    }
}
@media (min-width:576px) {
    .allstories .card-columns {
        column-count: 1;
    }
}
@media (min-width:992px) {
    .allstories .card-columns {
        column-count: 2;
    }
}
@media (min-width:1200px) {
    .allstories .card-columns {
        column-count: 3;
    }
}